* {
  margin: 0%;
  padding: 0%;
}
/* #dark .ExpenseForm-container {
  background: #46045e;
  color: #f7f0fa;
} */
/* #dark .ExpenseForm input {
  background: #b271d2;
  color: #f7f0fa;
} */
.ExpenseForm-container {
  padding: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  min-height: 100vh;
  /* background: rgb(235, 225, 225); */
  background-color: inherit;
}
.ExpenseForm {
  display: flex;
  margin: 1% auto;
  flex-direction: column;
  width: 50%;
  padding: 30px 30px;
  background: inherit;
  box-shadow: 0px 0px 20px rgba(231, 126, 126, 0.3);
  border-radius: 4px;
}
/* #dark .ExpenseForm {
  background: #8c47a6;
  color: #f7f0fa;
} */
.ExpenseForm label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.ExpenseForm input,
.ExpenseForm select {
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  border: 0.5px solid rgba(139, 130, 135, 0.8);
  border-radius: 0.25rem;
  font-size: 1rem;
}
.ExpenseForm button {
  width: 100%;

  padding: 8px;
  background: #1b5550;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;

  border: 1px solid transparent;

  letter-spacing: 0.5px;
  color: #fff;
  cursor: pointer;
}
