.dark-btn button {
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 1px 1px white;
  color: aliceblue;
  /* border-radius: 20px; */
}
.Premium-taggle {
  border: none;
  font-weight: bold;
  border-radius: 2px;
  padding: 7px;
  margin: 4px;
  cursor: pointer;
  /* background-color: #fcffb2; */
  transition: background-color 1s ease;
}
/* .Premium :hover,
  .Premium :active {
    outline: 0;
    background-color: #fbf13f;
  } */
.light-btn button {
  /* border-radius: 20px; */
  color: rgb(6, 11, 14);
  background-color: rgb(248, 248, 248);
}
