.dark-btn {
  background-color: rgb(194, 233, 37);
}
.Premium-taggle {
  border-radius: 12px;
  background-color: blueviolet;
  /* color: #000; */
  cursor: pointer;
  font-weight: bold;
  padding: 15px 25px;
  text-align: start;
  transition: 300ms;
  width: 70%;
  box-sizing: border-box;
  border: 0;
  font-size: 13px;
  user-select: none;
  background-color: transparent;

  touch-action: manipulation;
}
/* .Premium :hover,
  .Premium :active {
    outline: 0;
    background-color: #fbf13f;
  } */
.light-btn {
  background-color: rgb(244, 248, 226);
}
