/* * {
  : 0.1%;
} */
.container-header {
  max-width: 100%;
  /* margin: 0 auto; */
  /* padding: 0 3px; */
}
.container-header h3 {
  color: rgb(255, 255, 255);
}
.container-header header {
  background: #347171;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s ease;
}
.container-header ul,
.container-header li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-header ul {
  float: right;
  line-height: 40px;
}

.container-header li {
  float: left;
  margin-right: 15px;
}

.container-header li:last-of-type {
  margin-right: 0;
}

.container-header li a {
  color: white;
  text-decoration: none;
}

.container-header li a:hover {
  color: #6fb98f;
}

/* .Premium {
  border-radius: 20px;
  background-color: rgb(255, 220, 19);
} */
.Premium {
  border: none;

  border-radius: 2px;
  padding: 7px;
  margin: 4px;
  cursor: pointer;
  background-color: #ffea00;
  transition: background-color 1s ease;
  font-weight: bold;
  color: #000;
}
/* .Premium :hover,
.Premium :active {
  outline: 0;
  background-color: #fbf13f;
} */
.logout {
  border: none;

  border-radius: 2px;
  padding: 7px;
  margin: 4px;
  cursor: pointer;
  background-color: #d9d4e4;
  transition: background-color 1s ease;
}
